/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/addPageComponent/updateForm.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .container select {
    padding: 20px;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }
  
  .container input {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }
  
  .container button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
  }
